/* styles.css */
.table-view .column-header {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
}

/* Menu Bar */
.menu-bar {
    -fx-background-color: #0078D7;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 24px;
    -fx-text-fill: #0078D7;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}